* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1920px;
    padding: 0 405px;
    margin: 0 auto;
}




.header {
    background-color: #000;
    padding-top: 14px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    gap: 18px;
  }

    &__link {
        font-weight: 400;
        font-size: 12px;
        color: grey;
    }


    a {
        font-size: 12px;
        color: grey;
        font-weight: 400;
    }

    span {
        font-weight: 400;
        font-size: 12px;
        color: grey;
    }


    &__btn {
        background: none;
        border: none;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: gray;
        display: flex;
        align-items: center;
        gap: 10px;
 }

    
}


.phone {
    display: flex;
    align-items: center;
    gap: 18px;
}


.navigate {
    background-color: #0f0f0f;
    padding: 25px 0;
    margin-top: 15px;
    

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
        padding: 30px 20px;
        cursor: pointer;
    }

    & .active {
        background-color: #1f1f1f;
        color: white;
    }
}

.banner {
    background-image: url(./images/Rectangle.png);
    height: 810px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    
    

    &__square {
        border: 4px solid #fff;
        display: flex;
        flex-direction: column;
        padding: 93px 67px;
    }

    &__PORTEN {
        font-weight: 700;
        max-width: 200px;
        width: 100%;
        text-align: center;
        color: white;
        border-bottom: 2px solid white;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: white;
    }


    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        text-align: center;
        color: white;
        width: 100%;
        max-width: 850px;
    }
}


.collections {
    background-color: #000;

    &__img {
        background-image: url(images/collection.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 895px;
        height: 730px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 93px 80px;
    }

    &__h3 {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }

    &__cards {
        display: flex;
        gap: 50px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: start;
        // background-color:  #191b1c;
        background: linear-gradient(to bottom, #191b1c 80%, #000 20%);

        & p {

            font-weight: 400;
            font-size: 18px;
            color: white;
            margin-bottom: 10px;
        }

        & img {
            margin: 55px 20px 80px;
        }

        & span {
            font-weight: 700;
            font-size: 16px;
            color: gray;
        }
    }

    &__line {
        width: 120px;
        height: 1px;
        background-color: white;
        margin-bottom: 50px;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        }

    &__img-h3 {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-bottom: 30px;
    }

    &__btn {
        background: none;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 12px 28px;
        border: 1px solid white;
        margin-bottom: 100px;
    }
}

.container-wrapper {
max-width: 1920px;
margin: 0 auto;
display: flex;
}

.wrapper {
    display: flex;
}